/*---- IE8 ----*/

.ie8 #pesquisaTop input {
	font-size: 9px;
	margin-top: 2px;
}

.ie8 .pager li {
	filter: alpha(opacity=50);
}

.ie8 .pager .activeSlide {
	filter: alpha(opacity=100);
}

.ie8 .filtroBottom .filtroVerTodos {
	z-index: 20;
}

/*---- IE7 ----*/

.ie7 #pesquisaTop input {
	margin-top: 1px;
	font-size: 9px;
}

.ie7 #pesquisaTop .pesquisar {
	font-size: 0;
	line-height: 0;
	height: 31px;
}

.ie7 .pager li {
	filter: alpha(opacity=50);
}

.ie7 .pager .activeSlide {
	filter: alpha(opacity=100);
}

.ie7 .filtro .filtrar {
	font-size: 0;
	line-height: 0;
}

.ie7 #alugarTable {
	margin-top: 13px;
}

.ie7 #alugarTable .simFoto {
	text-indent: -999999px;
	background: #fff url(../img/simFoto.png) center no-repeat;
}

.ie7 #alugarTable .naoFoto {
	text-indent: -999999px;
	background: #fff url(../img/naoFoto.png) center no-repeat;
}