/* HTML5 ✰ Boilerplate */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; }
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }


::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #FF5E99; }
button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea { color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }


/**
 * Primary styles
 *
 * Author: Joao Stein [http://www.joaostein.com.br + http://www.hostdesk.com.br]
 */


/*---- Geral ----*/

html {
	background: url(../img/cloudBg.jpg) top center repeat-x;
}

@font-face {
    font-family: 'anivers';
    src: url('fonts/Anivers_Regular-webfont.eot');
    src: url('fonts/Anivers_Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Anivers_Regular-webfont.woff') format('woff'),
         url('fonts/Anivers_Regular-webfont.ttf') format('truetype'),
         url('fonts/Anivers_Regular-webfont.svg#') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*---- Menu Topo Principal & Logo ----*/

#navTopContainer {
	width: 100%;
	background: url(../img/navTopBg.png) top center repeat-x;
	margin-bottom: 20px;
}

.itemLeft {
	float: left;
}

.itemRight {
	float: right;
}

#navTop {
	position: relative;
}

#navTop nav {
	position: relative;
	z-index: 3;
	height: 51px;
	margin-bottom: 9px;
}

#navTop ul li {
	margin-left: 37px;
}

#navTop ul li:first-child {
	margin: 0;
}

#navTop ul li a {
	font-size: 21px;
	color: #fff;
	font-family: 'anivers';
	text-decoration: none;
	display: block;
	padding: 12px 0;
}

#navTop ul li a:hover {
	color: #efae00;
}

#logo {
	width: 416px;
	height: 141px;
	background: url(../img/logo.png) no-repeat;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -208px;
	z-index: 2;
}

#logo a {
	margin-left: 96px;
	margin-right: 40px;
	width: 220px;
	height: 134px;
	display: block;
}


/*---- Busca Rápida & Guia de Serviços ----*/

#buscaRapida {
	float: left;
	background: url(../img/buscaRapida.png) top left no-repeat;
	padding-left: 10px;
	color: #282828;
	width: 317px;
}

#guiaServicosTop {
	background: url(../img/guiaServicosTop.png) top right no-repeat;
	float: right;
	width: 265px;
	padding-left: 62px;
	color: #fff;
}

#pesquisaTop div {
	height: 72px;
	padding-top: 7px;
}

#pesquisaTop h3 {
	font-family: 'anivers';
	font-size: 18px;
}

#pesquisaTop input {
	margin: 0;
	padding: 0;
	border: none;
	background: transparent;
	font-size: 10px;
	font-family: verdana;
	color: #353535;
	margin-top: 3px;
}

#buscaRapida .busca {
	margin-left: 15px;
}

#guiaServicosTop .busca {
	margin-left: -12px;
}

#pesquisaTop .busca {
	width: 220px;
	margin-right: 10px;
}

#pesquisaTop .pesquisar {
	margin-top: 0;
	width: 30px;
	padding: 9px 0;
	text-indent: -99999px;
}


/*---- Destaque Home ----*/

#pagerContainer {
	background: url(../img/pagerPatternBg.jpg) top repeat-x;
	height: 153px;
}

#destaque {
	height: 300px;
	overflow: hidden;
	padding-bottom: 15px;
}

#destaque a {
	margin-left: 10px;
}

#destaque a img, .pager li img  {
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.pager {
	list-style: none;
}

.pager li img {
	float: left;
	opacity: .5;
}

.pager li:first-child {
	margin-left: 0;
}

.pager .activeSlide img {
	opacity: 1;
}

.pager .activeSlide img {
	-moz-box-shadow: 1px 2px 2px #333233;
	-webkit-box-shadow: 1px 2px 2px #333233;
	box-shadow: 1px 2px 2px #333233;
}


/*---- Carousel Paginador Home -----*/

.jcarousel-skin-tango .jcarousel-container {
	background: url(../img/pagerBg.jpg) top center no-repeat;
	height: 101px;
	width: 795px;
	padding: 5px 80px 47px 75px;
}

.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
	width: 794px;
}

.jcarousel-skin-tango .jcarousel-item {
    width: 180px;
    height: 104px;
		margin-right: 10px;
		margin-left: 10px;
}

.jcarousel-skin-tango .jcarousel-item:first-child {
	margin-left: 10px;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */

.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 35px;
    right: 35px;
    width: 25px;
    height: 37px;
    cursor: pointer;
    background: url(../img/nextPrevCarousel.png) -25px 0 no-repeat;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-horizontal:focus {
    background-position: -25px -37px;
}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -25px -74px;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 35px;
    left: 35px;
    width: 25px;
    height: 37px;
    cursor: pointer;
    background: url(../img/nextPrevCarousel.png) 0 0 no-repeat;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:hover, 
.jcarousel-skin-tango .jcarousel-prev-horizontal:focus {
    background-position: 0px -37px;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: 0px -74px;
}


/*---- Áreas que tenham Filtros ----*/

.filtro h2, .filtro form label {
	float: left;
	display: block;
	font-family: 'anivers';
	text-transform: uppercase;
}

.filtro {
	width: 980px;
	margin-bottom: 30px;
	float: left;
	margin-top: 40px;
}

.filtro h2 {
	width: 140px;
	height: 42px;
	font-size: 24px;
	padding: 11px 0px 0px 20px;
}

.filtro form {
	float: left;
	width: 800px;
	height: 53px;
}

.filtro form label {
	width: 65px;
	height: 41px;
	font-size: 14px;
	color: white;
	padding: 12px 0px 0px 15px;
}

.filtro form select {
	float: left;
	width: 98px;
	margin: 10px 8px 0 10px;
	font-size: 11px;
}

.filtro .filtrar {
	text-indent: -99999px;
	display: block;
	width: 40px;
	height: 40px;
	float: left;
	border: 0;
	padding: 12px;
	margin-left: 20px;
	background: transparent;
}

.filtroTop {
	width: 980px;
	height: 53px;
}

.filtroContent {
	padding: 20px;
	width: 938px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.filtroBottom {
	width: 980px;
	position: relative;
}

.filtroBottom .filtroVerTodos {
	position: absolute;
	right: 0;
	top: -9px;
	width: 90px;
	height: 29px;
	background: url(../img/filtroVerTodos.png) no-repeat;
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	font-family: 'anivers';
	text-decoration: none;
	padding: 20px 0 0 30px;
}

.filtroBottom .filtroPagerBg {
	position: absolute;
	right: 120px;
	height: 42px;
	top: -1px;
	padding-left: 58px;
	height: 50px;
}

.filtroBottom .filtroPagerBg div {
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 0px;
	padding-right: 20px;
	padding-top: 5px;
	height: 35px;
}

.filtroBottom .filtroPagerBg a {
	text-decoration: none;
	font-size: 18px;
	font-family: 'verdana';
	margin-left: 25px;
	opacity: .5;
}

.filtroBottom .filtroPagerBg .activeSlide {
	opacity: 1;
}

.filtroBottom .filtroPagerBg a:first-child {
	margin-left: 0;
}


/*---- Filtro da Home - #comprarHome----*/

#comprarHome {
	height: 509px;
}

#comprarHome .filtroTop {
	background: url(../img/filtroComprarTop.png) top center no-repeat;
}

#comprarHome h2 {
	color: #125892;
}

#comprarHome .filtroContent {
	background: #eff9fe;
	border: 1px solid #dcdcdc;
	border-top: none;
	height: 375px;
}

#comprarHome .filtroPagerBg {
	background: url(../img/filtroComprarPagerBg.png) top left no-repeat;
}

#comprarHomePager {
	background: #eff9fe;
	border-bottom: 1px solid #dcdcdc;
	border-right: 1px solid #dcdcdc;
}


/*---- Filtro da Home - #alugarHome----*/

#alugarHome {
	height: 547px;
}

#alugarHome .filtroTop {
	background: url(../img/filtroAlugarTop.png) top center no-repeat;
}

#alugarHome h2 {
	color: #efae00;
}

#alugarHome .filtroContent {
	background: #f6f6f6;
	border: 1px solid #cfcfcf;
	border-top: none;
}

#alugarHome .filtroPagerBg {
	background: url(../img/filtroAlugarPagerBg.png) top left no-repeat;
}

#alugarHomePager {
	background: #f6f6f6;
	border-bottom: 1px solid #cfcfcf;
	border-right: 1px solid #cfcfcf;
}

#alugarHomePager a {
	color: #efae00;
}

#alugarHomePager a:hover {
	color: #ff8a01;
}


/*----- Títulos da Tabela de alugar -----*/

#alugarHome hgroup h3 {
	float: left;
	width: 100px;
	font-family: 'anivers';
	color: #efae00;
	font-size: 18px;
	margin-right: 2px;
	margin-bottom: 13px;
	height: 20px;
}

#alugarHome hgroup .localizacao {
	width: 427px;
}

#alugarHome hgroup .bairro {
	width: 158px;
}

#alugarHome hgroup .valor {
	width: 72px;
	padding-left: 5px;
}

#alugarHome hgroup .areaUtil {
	width: 67px;
	text-indent: -99999px;
	background: url(../img/iconesLegendaAlugar.jpg) center -80px no-repeat;
}

#alugarHome hgroup .fotos, #alugarHome hgroup .quartos, #alugarHome hgroup .suites, #alugarHome hgroup .garagem  {
	width: 47px;
	text-indent: -99999px;
}

#alugarHome hgroup .fotos {
	background: url(../img/iconesLegendaAlugar.jpg) center 0 no-repeat;
}

#alugarHome hgroup .quartos {
	background: url(../img/iconesLegendaAlugar.jpg) center -20px no-repeat;
}

#alugarHome hgroup .suites {
	background: url(../img/iconesLegendaAlugar.jpg) center -40px no-repeat;
}

#alugarHome hgroup .garagem {
	background: url(../img/iconesLegendaAlugar.jpg) center -60px no-repeat;
}


/*----- Legenda de Alugar -----*/

.alugarLegenda {
	list-style: none;
	margin: 20px 0 0 0;
}

.alugarLegenda li {
	float: left;
	margin-right: 25px;
	height: 15px;
	color: #3c3c3d;
	font-size: 11px;
	padding: 5px 0 0 30px;
}

.alugarLegenda .fotos {
	background: url(../img/iconesLegendaAlugar.jpg) left 0 no-repeat;
}

.alugarLegenda .quartos {
	background: url(../img/iconesLegendaAlugar.jpg) left -20px no-repeat;
}

.alugarLegenda .suites {
	background: url(../img/iconesLegendaAlugar.jpg) left -40px no-repeat;
}

.alugarLegenda .garagem {
	background: url(../img/iconesLegendaAlugar.jpg) left -60px no-repeat;
}

.alugarLegenda .areaUtil {
	background: url(../img/iconesLegendaAlugar.jpg) left -80px no-repeat;
}


/*----- Estilos da Tabela de alugar -----*/

#alugarTable .fotos, #alugarTable .quartos, #alugarTable .suites, #alugarTable .garagem  {
	width: 33px;
	text-align: center;
	font-size: 14px;
}

#alugarTable .localizacao {
	width: 413px;
}

#alugarTable .bairro {
	width: 144px;
	font-weight: bold;
}

#alugarTable .valor {
	width: 63px;
	text-align: center;
	font-size: 14px;
}

#alugarTable .areaUtil {
	width: 53px;
	text-align: center;
}

#alugarTable td {
	border-right: 3px solid #f6f6f6;
	border-bottom: 3px solid #f6f6f6;
	padding: 7px;
	font-family: verdana;
	font-size: 12px;
	color: #3c3c3c;
}

#alugarTable .simFoto {
	text-indent: -999999px;
	background: url(../img/simFoto.png) center no-repeat;
}

#alugarTable .naoFoto {
	text-indent: -999999px;
	background: url(../img/naoFoto.png) center no-repeat;
}

#alugarTable tr {
	background: #fff;
}


/*---- Thumbs com descrição dos imóveis - Home & Interna ----*/

#comprarHome .imovelPreview {
	margin-left: 19px;
}

#comprarHome .imovelPreview:first-child {
	margin-left: 0px;
}

.imovelPreview {
	width: 220px;
	float: left;
}

.imovelPreview header {
	background: url(../img/imovelPreviewHeading.png) no-repeat;
	width: 200px;
	height: 26px;
	padding: 5px 10px;
}

.imovelPreview h3 {
	font-size: 24px;
	color: #fff;
	font-family: 'anivers';
}

.imovelPreview img {
	display: block;
	border: 1px solid #dcdcdc;
}

.imovelPreview footer {
	background: #f2f2f2;
	border: 1px solid #dcdcdc;
	position: relative;
	color: #333;
}

.imovelPreview footer div {
	border: 1px solid #fcfcfc;
	border-top: none;
	padding: 10px;
}

.imovelPreview footer h4 {
	font-size: 23px;
	font-family: 'anivers';
	border-bottom: 1px solid #fff;
	padding-bottom: 6px;
}

.imovelPreview footer ul {
	margin: 0;
	list-style: none;
	border-top: 1px solid #d9d9d9;
	padding-top: 10px;
	font-family: helvetica, arial, sans-serif;
}

.imovelPreview footer ul li {
	margin-bottom: 5px;
}

.imovelPreviewMoreDetail {
	position: absolute;
	bottom: -1px;
	right: -1px;
	width: 75px;
	height: 38px;
	text-indent: -9999px;
	background: url(../img/imovelPreviewMoreDetail.png) no-repeat;
}

.comprarHomeCycle {
	padding: 20px;
}


/*---- Publicidade OLÁ & OLÁ na rede - Home -----*/

.anuncioHome {
	height: 210px;
	overflow: hidden;
}

#socialNetworkHome h2, #publicidadeHome h2, #socialNetworkHome h3, #sideBar h2, #sideBar h3 {
	color: #4b4b4b;
	font-family: 'anivers';
	text-transform: uppercase;
}

#socialNetworkHome h2, #publicidadeHome h2, #sideBar h2 {
	font-size: 24px;
	margin-bottom: 15px;
}

#socialNetworkHome h3, #sideBar h3  {
	font-size: 16px;
}

#facebook {
	background: url(../img/facebookBg.png) no-repeat;
	width: 170px;
	height: 83px;
	padding: 10px 25px 20px 25px;
	margin-bottom: 5px;
}

#facebook h3 {
	margin-bottom: 6px;
}

#twitter a {
	background: url(../img/twitterBg.png) no-repeat;
	width: 220px;
	height: 115px;
	display: block;
	float: left;
	margin-top: -50px;
}

#twitter h3 {
	margin-top: 15px;
	width: 140px;
	margin-left: 25px;
}


/*---- Footer Principal #mainFooter -----*/

#mainFooter {
	background: url(../img/footerPatternBg.png) bottom repeat-x;
	float: left;
	width: 100%;
}

#mainFooterContentContainer {

}


/*---- Guia de Serviços - Footer ----*/

#guiaServicosBottom {
	width: 980px;
}

#guiaServicosBottom .guiaServicosHeader {
	background: url(../img/guiaServicosBottom.png) center top no-repeat;
	margin-top: 45px;
	height: 56px;
}

#guiaServicosBottom hgroup {
	width: 505px;
	float: left;
	margin-left: 190px;
	margin-top: -45px;
}

#guiaServicosBottom h2 {
	font-family: 'anivers';
	font-size: 51px;
	color: #efae00;
	text-transform: uppercase;
	line-height: 55px;
	letter-spacing: -1px;
}

#guiaServicosBottom h3 {
	font-size: 15px;
	font-family: 'anivers';
	color: #525252;
	margin-left: 5px;
}

#servicosBusca {
	float: left;
	width: 285px;
	margin-top: 10px;
}

#informarServico {
	background: transparent;
	border: none;
	margin-left: 35px;
	margin-right: 16px;
	font-size: 12px;
	font-family: verdana;
	width: 180px;
}

#pesquisarServico {
	border: none;
	background: transparent;
	width: 30px;
	height: 30px;
	text-indent: -999999px;
}

#listaServicos {
	background: #e79d00;
	background: -moz-linear-gradient(top, #e79d00 0%, #db8300 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e79d00), color-stop(100%,#db8300));
	background: -webkit-linear-gradient(top, #e79d00 0%,#db8300 100%);
	background: -o-linear-gradient(top, #e79d00 0%,#db8300 100%);
	background: -ms-linear-gradient(top, #e79d00 0%,#db8300 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E79D00', endColorstr='#DB8300',GradientType=0 );
	background: linear-gradient(top, #e79d00 0%,#db8300 100%);
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	padding: 0px 20px 20px 20px;
}

#listaServicos ul {
	margin: 0;
	list-style: none;
}

#listaServicos ul li {
	float: left;
	margin-right: 12px;
}

#listaServicos ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 13px;
	line-height: 24px;
	font-family: verdana;
}

#listaServicos ul li a:hover {
	color: #dbdad7;
}

#listaServicos img {
	float: left;
	margin-left: -10px;
	margin-top: -105px;
	margin-right: 20px;
}


/*---- Social Network Footer ----*/

#socialNetworkFooter {
	background: url(../img/socialNetworkFooterBg.png) bottom center no-repeat;
	width: 780px;
	height: 44px;
	margin-top: 72px;
	padding: 15px 100px 20px 100px;
}

#socialNetworkFooter ul {
	list-style: none;
	margin: 0;
	float: right;
}

#socialNetworkFooter ul li {
	float: right;
	margin-left: 20px;
}

#socialNetworkFooter ul li a {
	width: 54px;
	height: 54px;
	display: block;
	margin-top: 4px;
}

#socialNetworkFooter h2 {
	float: right;
	width: 150px;
	font-size: 20px;
	font-family: 'anivers';
	color: #fff;
	text-align: right;
	margin-right: 10px;
}


/*---- Ícones das Redes Sociais - Footer -----*/

#socialNetworkFooter .formspring {
	background: url(../img/socialNetworkBottomIcons.png) -162px -54px;
}

#socialNetworkFooter .rss {
	background: url(../img/socialNetworkBottomIcons.png) -108px -54px;	
}

#socialNetworkFooter .twitter {
	background: url(../img/socialNetworkBottomIcons.png) -54px -54px;
}

#socialNetworkFooter .facebook {
	background: url(../img/socialNetworkBottomIcons.png) 0px -54px;
}

#socialNetworkFooter .formspring:hover {
	background: url(../img/socialNetworkBottomIcons.png) -162px 0px;
}

#socialNetworkFooter .rss:hover {
	background: url(../img/socialNetworkBottomIcons.png) -108px 0px;	
}

#socialNetworkFooter .twitter:hover {
	background: url(../img/socialNetworkBottomIcons.png) -54px 0px;
}

#socialNetworkFooter .facebook:hover {
	background: url(../img/socialNetworkBottomIcons.png) 0px 0px;
}


/*---- Filtro Internas ----*/

.filtroInternas {
	margin-top: 30px;
	margin-bottom: 60px;
}

.filtroInternas .filtroContent {
	padding: 0;
}

.filtroInternas .filtroTop {
	margin-bottom: 20px;
	background: url(../img/compreImovelFiltroBg.png);
	height: 40px;
	width: 940px;
}

.filtroInternas .filtroTop h2 {
	padding-left: 0;
	width: 240px;
	color: #fff;
	font-weight: normal;
	padding: 5px;
	padding-left: 8px;
	height: 30px;
}

.filtroInternas .filtroTop form {
	width: 687px;
	height: 40px;
}

.filtroInternas .filtrar {
	text-indent: 0;
	color: #fff;
	font-size: 14px;
	font-family: 'anivers';
	text-transform: uppercase;
	margin-left: 5px;
	padding: 0;
}


/*----- Lista Comprar -----*/

#listaComprar .imovelPreview {
	margin-right: 20px;
	margin-bottom: 20px;
}

#listaComprar .retirarMargin {
	margin-right: 0;
}


/*----- Lista Internas Paginador -----*/

#listaInternaPagerWrapper {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	height: 30px;
}

#listaInternaPager {
	position: absolute;
	right: 0;
	padding: 4px;
	height: 20px;
}

#listaInternaPager a {
	display: block;
	float: left;
	text-decoration: none;
	font-family: verdana;
	font-size: 18px;
	margin: 0 10px;
}

#listaComprar #listaInternaPagerWrapper {
	background: #eff9fe;
}


/*---- Sidebar ----*/

#sideBar {
}

#sideBar article {
	float: left;
}

#sideBar h2 {
	margin-bottom: 0;
}







.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

